body {
  background-color: slategrey;
}

hr {
  /* background-color: #467082; */
  border-style: none;
  border-top-style: dotted;
  /* height: 2px; */
  width: 5%;
  border-color: #467082;
  border-width: 5px;
}

img {
  /* height:20px; */
}

h3 {
  color: #1e4a9b;
}

h1 {
  color: #1d396d;
}

h2 {
  color: #1e4a9b;
}
